{% extends "CoderApp/main.html" %}

{% block title %}
Portal de estudiantes 
{% endblock %}

{% block content %}

    <body style="color: khaki;">Acá podras editar la información de los estudiantes en la base de datos</body>
    <h2 style="color: white;"> Editar información del estudiante </h2>
    <form method="post" style="color: white;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value="Modificar" />
    </form>

    <p>
        <button style="color:black">
            <a style="color: black;" href = "{% url 'List' %}">Regresar</a>
        </button>

    </p>

{% endblock %}

{% block x %} Portal de estudiantes {% endblock %}
