<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<h1>Iniciar sesion</h1>
<body>
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p}}
        <button type="submit">Iniciar sesion</button>
    </form>
    <p>
        <button>
            <a href = "{% url 'Register' %}">¿No tienes usuario? Registrate aquí!</a>
        </button>
    </p>
</body>
</html>